
.tab-content {
    display: flex;
}

.tab-content .search-wrapper {
    width: 100%;
    text-align: center;
    
}
.showBooks {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.books {
    width: 20%;
}
.search-box {
    position: absolute;
    background: #2f3640;
    border-radius: 40px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 300px;
}

.search-box:hover > .search-btn {
    background: white;
}
.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
}
